/** Write your CSS in here **/

div {
    position: fixed;
    top: 30%;
    left: 25%;
    background-color: blueviolet;
    width: 850px;
    height : 350px;
    padding: 4%;
   }

   body {
   background-color: gray;
   }

   #NewQuoteBTN{
       background-color: limegreen;
          }
